doctype html
html
  head
      title Lets talk about ... SAM
      meta(charset='utf-8')
      script
        | window.PERMANENT_URL_PREFIX = window.PERMANENT_URL_PREFIX || 'node_modules/lets-talk-about--template/assets/vendor/';
      script(src='node_modules/lets-talk-about--template/assets/vendor/slides.js')
      link(href='styles.css'  rel='stylesheet' type='text/css')
  body
    section.slides.layout-regular.template-default
      article
        h2 Lets talk about ...
        h1 &nbsp;
      article
        h2 Lets talk about
        h1 SAM
      article
        h2 Lets talk about
        h1 Serverless
      article
        h2 Lets talk about
        h1 Application
      article
        h2 Lets talk about
        h1 Model
      article
        h2 Serverless - What?
        ul.build
          li Cloud provider manages the allocation of machine resources
          li User just provides Code
          li Serverless runtimes
          li &nbsp;
      article
        h2 Serverless - What?
        ul
          li Cloud provider manages the allocation of machine resources
          li User just provides Code/Schema
          li Serverless runtimes
          li Serverless databases
      article
        h2 Serverless - Why?
        ul.build
          li No Servers to manage/update
          li No idle times which need to be paid
          li (Linear) scales with usage
          li Load balancing, Networking, Fault tolerance build in
      article
        h2 Serverless - Where?
        ul.build
          li Web Applications (eg. Express)
          li Backends (eg. API with LoopBack)
          li Data Processing (Background jobs, Tasks)
          li Bots (eg. Chatbots)
          li Automation (Extending AWS Services)
      article
        h2 Serverless - Where?
        ul
          li Web Applications (eg. Express)
          li Backends (eg. API with LoopBack)
          li Data Processing (Background jobs, Tasks)
          li Bots (eg. Chatbots)
          li
            b Automation (Extending AWS Services)
      article
        h2 AWS Services - Data
        ul.build
          li S3
          li DynamoDB
          li Kinesis
          li Aurora (MySQL)
      article
        h2 AWS Services - Management
        ul.build
          li CloudFormation
          li CloudTrail
          li CodeCommit
          li CloudWatch
      article
        h2 AWS Services - Endpoints
        ul.build
          li API Gateway
          li IoT
          li Step Functions
      article
        h2 AWS Services - Messages
        ul.build
          li SES
          li SNS
          li Cron
        ul
          li Inline Image
          li
            img(src="node_modules/lets-talk-about--template/assets/memes/like-a-boss.jpg")
      article
        h2 List
        ul.build
          li 1.
          li 2.
          li 3.
          li 4.
      article
        h2 Code
        pre
          | const code = 'without line numbers';
        pre.linenums
          | const code = 'with line numbers';
      article
        h2 Code with highlights
        pre.linenums.h1
          | const line1 = 'normal'
          | const line2 = 'highlight'
          | const line3 = 'normal'
      article.section
        h1 New Section
      article
        ul
          li
            em Emphasis
          li
            i Italic
          li Inline <em>Emphasis</em> and <i>Italic</i>
          li
            a(href="#") Link
      article
        video(src="#" loop controls)

    script(src='node_modules/lets-talk-about--template/assets/scripts/main.js')
